pkgbase = sworkstyle
	pkgdesc = Swayest Workstyle - This tool will rename workspaces to the icons configured. Mainly meant for Sway WM
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/Lyr-7D1h/swayest_workstyle
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	optdepends = otf-font-awesome
	conflicts = sworkstyle-git
	source = swayest_workstyle-1.4.0.tar.gz::https://github.com/Lyr-7D1h/swayest_workstyle/archive/1.4.0.tar.gz
	source = sworkstyle.man
	sha256sums = 1f5c9078b7967ed8dfb5a04941fcc218b7527f473ba60539bf6534f073fb0bd1
	sha256sums = d16f4284fe6419603db058b878a32a56574a51409648a6ddbd1b516d50cb3eb7

pkgname = sworkstyle
